.header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .header__left{
        h2{
            margin-left: 20px;
            color: #b92b27;  /* fallback for old browsers */   
            color: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */  
            color: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}